# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.class

# Package Files #
*.jar
*.war
*.ear

#swap File
*.swp

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

binary-vectors/question1
binary-vectors/question2
binary-vectors/question3
boolean-functions/question4
boolean-functions/question5
boolean-functions/question6
walsh-transform/question7
walsh-transform/question8
walsh-transform/question9

